body{
    background-color: #ffffff;
    color:#777777;
    background-image: url("so-white.png");
    background-repeat: repeat;

    margin: 0;
    padding: 0;
}

h1 {
    background-color: #4aaaa5;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;

    height: 40px;
    width: 30%;
    margin: 20px 0;
    padding: 20px;
}

h2 {
    color: #4aaaa5;
}

.container{

    width: 960px;
    height: 960px;
    margin: 0 auto;
}

.topnav {
   float: right;
}

.topnav a {
    color: #777777;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 14px;
}

.topnav a:hover {
    background-color: aliceblue;
    color: #777777;
}

.topnav a.active {
    background-color: #4aaaa5;
    color: white;
}

.my-form{
    padding:20px;
    border-radius: 5px;
    background-color: white;
    border: 1px;
}

.my-form .form-group{
    padding-bottom:15px;
}
.my-form label{
    display:block;
}

.my-form input[type="text"], .myform textarea{
    padding:8px;
    width:100%;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

.button {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #2b6b68;
}

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #666666;
    color: #fff;
}