body{
    background-color: #f4f4f4;
    color:#777777;
    background-image: url("../images/light-grey-terrazzo.png");
    background-repeat: repeat;
    line-height: 1.6em;

    margin: 0 auto;
    padding: 0 auto;
}

.header-container{
    background: white;
    border-bottom: 1px solid #cccccc;
}

#main-header h1{
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    color: white;
    text-align: center;

    width: 200px;
    padding: 30px;
    margin: 0 25%;
}

#main-form h2 {
    color: #4aaaa5;
    margin-left: 40px;
}

.container{

    width: 960px;
    margin: auto;
}

.topnav {
   float: right;
   width: 35.3%;
   margin: 20px;
}

.topnav a {
    color: #777777;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 14px;
}

.topnav a:hover {
    background-color: aliceblue;
    color: #777777;
}

.topnav a.active {
    background-color: #4aaaa5;
    color: white;
}

#main-form{
    width:960px;
    height: 500px;
    background: white;
    border: 1px solid whitesmoke;
    border-radius: none;
    margin-top: 50px;
}

.my-form{
    padding:40px;
    border-radius: 5px;
    background-color: white;
    border: 1px;
}

.my-form .form-group{
    padding-bottom:15px;
}
.my-form label{
    display:block;
}

.my-form input[type="text"], .myform textarea{
    padding:8px;
    width: 100%;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.button {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #2b6b68;
}

hr {
    border-top: 1px solid #4aaaa5;
    margin-left: 40px;
    margin-right: 40px;
}

#main-footer{
    text-align: center;
    padding: 10px;
    margin-top:250px;
    background-color: #666666;
    color: #fff;
    border-top: 8px solid #4aaaa5;
}