body{
    background-color: #f4f4f4;

    background-image: url("../images/dust_scratches.png");
    background-repeat: repeat;
    line-height: 1.6em;

    margin: auto;
    padding: 0;
}

.container{
    width: 960px;
    margin: auto;
}

.topnav{
    float:right;
    width:35.3%;
    margin: 20px;
}

.topnav a {
    color: #777777;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 14px;
}

.topnav a:hover {
    background-color: aliceblue;
    color: #777777;
}

.topnav a.active {
    background-color: #4aaaa5;
    color: white;
}

.header-container{
    background: white;
    border-bottom: 1px solid #cccccc;
}
#main-header h1{
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    color: white;
    text-align: center;

    width: 200px;
    padding: 30px;
    margin: 0 25%;
}


#p-header{
    background: white;
    color:#4aaaa5;
    border: 2px solid whitesmoke;
    margin-top: 20px;
    height: 960px;
}

#projects{
    width: 200px;
    color: #eee;
}

#projects h2{
    color: #4aaaa5;

}

.p-1{
    position: relative;
    left: 40px;
}
.p-1 h3{
    background: #4aaaa5;
    position: relative;
    top: -100px;
    text-align: center;
    padding: 15px;
}
.p-2{
    position: relative;
    left: 300px;
    bottom: 300px;

}
.p-2 h3{
    background: #44aaaa;
    position: relative;
    top: -100px;
    text-align: center;
    padding:15px;
}

.p-3{
    position: relative;
    bottom: 350px;
    left: 40px;
}

.p-3 h3{
    background: #44aaaa;
    position: relative;
    top: -100px;
    text-align: center;
    padding:15px;
}

.p-4{
    position: relative;
    bottom: 650px;
    left: 300px;
}

.p-4 h3{
    background: #44aaaa;
    position: relative;
    top: -100px;
    text-align: center;
    padding:15px;
}

.p-5{
    position: relative;
    bottom: 700px;
    left: 40px;
}

.p-5 h3{
    background: #44aaaa;
    position: relative;
    top: -100px;
    text-align: center;
    padding:15px;
}


#main-footer{
    text-align: center;
    padding: 10px;
    margin-top:250px;
    background-color: #666666;
    color: #fff;
    border-top: 8px solid #4aaaa5;
}

@media(max-width:600px){

}

