body{
    background-color: #ffffff;
    color:#777777;

    margin: 0;
    padding: 0;

}

.container{
    width:960px;
    margin: 0 auto;
}

.topnav {
    float: right;
}

.topnav a {
    color: #777777;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 14px;
}

.topnav a:hover {
    background-color: aliceblue;
    color: #777777;
}

.topnav a.active {
    background-color: #4aaaa5;
    color: white;
}

h1{
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    color: white;

    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}

p{
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}

#my-name, #bio-image{
    color:#4aaaa5;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
    padding:10px 15px 16px 70px;
    margin: 10px;
    float: left;
}

#bio-image{
    margin-right: 20px;
    width: 200px;
    height: 300px;
}
